<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <mat-card class="bg-transparent border-0 card-blur">
                <mat-card-content>
                    <div class="text-center">
                        <mat-icon class="fa-3x">lock</mat-icon>
                        <h2>Welcome</h2>
                        <p>Please enter your login details</p>
                        <hr>
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <div class="mb-4">
                            <mat-form-field class="w-100 " appearance="outline" color="warn">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" id="username" name="loginHtml"
                                       [(ngModel)]="credential.email"
                                       required/>
                            </mat-form-field>
                        </div>
                        <div class="mb-4">
                            <mat-form-field class="w-100 " appearance="outline" color="warn">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" id="password" name="loginHtml"
                                       [(ngModel)]="credential.password" required/>
                            </mat-form-field>
                        </div>
                        <button mat-button type="submit" class="w-100 btn btn-light cs-button">Login</button>
                    </form>
                    <div class="text-end mb-2">
                     <a routerLink="../register">Register</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
