<!--<div class="search-bar collapse">-->
<!--  <form class="form-inline">-->
<!--    <input class="form-horizontal" type="text" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-light" type="submit">Search</button>-->
<!--  </form>-->
<!--</div>-->
<!--<nav class="navbar navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target=".search-bar"-->
<!--            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle search bar">-->
<!--      <span class="bi bi-search"></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</nav>-->

<!--<nav class="navbar navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <div class="ms-auto"> &lt;!&ndash; Add this div with ms-auto class &ndash;&gt;-->
<!--      <div class="search-bar collapse">-->
<!--        <form class="form-inline">-->
<!--          <input class="form-horizontal" type="text" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-light" type="submit">Search</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target=".search-bar"-->
<!--            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle search bar">-->
<!--      <span class="bi bi-search"></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</nav>-->

<!--<app-login></app-login>-->


<router-outlet></router-outlet>
